@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #1f1f1f;
}

.logo {
  color: white;
  text-align: center;
  margin: 10px;
}

.number-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-input {
  text-align: center;
  background-color: gray;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 6px;
  font-size: 26px;
  color: white;
  width: 5rem;
  padding: 4px;
}

.number-input::placeholder {
  font-size: 10px;
  color: #1f1f1f;
}

.send-btn {
  margin: 10px;
  text-align: center;
  background-color: white;
  border: none;
  height: 40px;
  border-radius: 6px;
  font-size: 20px;
  color: gray;
  padding: 4px;
}

.message {
  color: white;
}
