* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    height: 60vh;
}

.number-input {
    background-color: gray;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    color: white;
    padding: 10px;
}